$fonts: "Open Sans", sans-serif;
$dark_graphite: #313234;
$white: #fff;
$gray: #696b70;
$little_blue: #33ccff;
$hundred: 100%;

* {
	box-sizing: border-box;	
}
body {
	margin: 0;
	font-family: $fonts;
}
header {
	background-color: $dark_graphite;
}
.row::before, .row::after {
	content:"";
	display: table ;
	clear: both;
 }
.nav_ul {
	margin: 0;
	list-style-type: none;
	float: right;
	overflow: auto;	
}
.container {
	width: $hundred;
	max-width: 1200px;
	margin: 0 auto;
}
.nav_li {
 	display:inline-block;
}
.nav_img { 
	padding: 10px 0;
}
.nav_link {
	line-height: 50px;
	display: block;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;
}
.nav_link:hover {
	color:$gray;
}

.hero {
	background-image: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=37c91c8e3f63462e0739c676dfe8fee8&auto=format&fit=crop&w=750&q=80);	
	width: $hundred;
	text-align: right;
	background-size: cover;
	background-position: center;
	overflow: hidden;	
}
.slogan {
	background-color: rgba(102, 102, 204, 0.4);
	float: right;
	max-width: 800px;
	padding: 15px;
	margin: 100px 0;
}
[class*="col-"] {
	width: $hundred;
	float: left;
	min-height: 1px;
	text-align: center;
	font-size: 14px;
	word-break: break-all;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: $hundred;
}
.col-offset-1 {
	margin-left: 8.33%;
}
.col-offset-2 {
	margin-left: 16.66%;
}
.col-offset-3 {
	margin-left: 25%;
}
.col-offset-4 {
	margin-left: 33.33%;
}
.col-offset-5 {
	margin-left: 41.66%;
}
.col-offset-6 {
	margin-left: 50%;
}
.col-offset-7 {
	margin-left: 58.33%;
}
.col-offset-8 {
	margin-left: 66.66%;
}
.col-offset-9 {
	margin-left: 75%;
}
.col-offset-10 {
	margin-left: 83.33%;
}
.col-offset-11 {
	margin-left: 91.66%;
}
section {
	padding-bottom: 5%; 	
}
section>.container {
	margin: 50px auto;
}
.row h3	{
	font-size: 20px;
	text-align: center;
	margin: 0;
}
.gallery {
	padding-bottom: 0;	
}
.fa {
	font-size: 30px;	
}
.three {
	padding: 50px 5px 25px 5px;	
}
.blue {
	color: $dark_graphite;
	padding: 0 30px 70px 30px;
}
.blue:hover {
	color: $little_blue;	
	cursor: pointer;
}
.h3 {
	color: $dark_graphite;
	font-weight: 800;
}
.center {
	text-align: center;	
}
.img-square {
	float: left;
	height: $hundred;
	width: $hundred;
}
.img-rectangle {
	float: left;
	height: $hundred;
	width: $hundred;
}
.hover:hover .layer { 
	display: block; 
	position: absolute; 
	cursor: pointer;
	
}
.team img {
	height: $hundred;
	width: $hundred;
	border-radius: 50%;
}
/* 
start team
*/
.team {
	margin: 0 auto;
}
img {
	max-width: $hundred;
}
.layer {
	background: rgba(0, 0, 0, 0.5);
	width: $hundred;
	height: $hundred;
	position: absolute;
	display: none;
}

.hover {
	position: relative;
}
.hover:hover .layer {
	display: flex;
    justify-content: space-around;
    align-items: center;
}
.team__image {
	border-radius: 50%;
}
.team__layer {
	background: rgba(0, 0, 0, 0.5);
	width: $hundred;
	height: $hundred;
	position: absolute;
	display: none;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	color: $white;
	font-size: 18px;
}
.team__hover {
	position: relative;
	margin: 0 20px;
}
.team__hover:hover .team__layer {
	display: flex;
} 
.team_name {
	font-weight: bold;
}
.team__title {
	@extend .team_name;
	font-size: 20px;
}
/* end team*/
.tablet {
	height: 100px;
	width: 200px;
	position: absolute;
	bottom: 0;
}
.colorblue {
	background-color: #2edbf2;
	padding: 25px;
	position: relative;
}
.numbers {
	padding: 0 25px 40px 25px;
}
.numbers {
	h4 {
	font-size: 80px;
	margin-bottom: 0;
	}
	 p {
	font-size: 30px;
	font-weight: bold;
	color: $little_blue;
	margin-top: 0;
	}
}
.address p {
	text-align: left;	
}
.footer {
	background-color: $dark_graphite;	
	color: $white;
	text-align: left;
	padding: 25px 25px 0 25px;
}
.social {
	background-color: $little_blue;
	color: $white;
}
button {
	border: none;
	background-color: $little_blue;
	padding: 7px;
	display: inline-block;
	width: 11%;
	height: 11%;
	margin: 5px;
}
button:hover {
	cursor: pointer;	
}
.footer-bottom {
	background-color: #272c33;
	color: $white;
	padding-top: 15px;
	padding-bottom: 15px;	
}
.awesome {
	columns: 2;	
}
@media (max-width: 767px){
    .col-1 {width: 50%;}
    .col-2 {width: 50%;}
    .col-3 {width: $hundred;}
    .col-4 {width: $hundred;}
    .col-5 {width: $hundred;}
    .col-6 {width: $hundred;}
    .col-7 {width: $hundred;}
    .col-8 {width: $hundred;}
    .col-9 {width: $hundred;}
    .col-10 {width: $hundred;}
    .col-11 {width: $hundred;}
    .col-12 {width: $hundred;}
   
   	li {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
    .nav_img {
    padding-left: 30%;
    }
	.nav_li {
		display: block;
	}
	.nav_ul {
		float: none;
		text-align: center;
	}
	.layer {
		display: block;
	}
	.hover .layer {
		display: flex;
	    justify-content: space-around;
	    align-items: center;
	}
	.team__layer {
		display: block;
	}
	.team__hover .team__layer {
		display: flex; 
	}
	.numbers h4 {
		margin-top: 0;
	}
	button {
		width: 25%;
	}
	.awesome {
		columns: 1;
	}
	.tablet {
		display: none;	
	}
	.footer_table h5{
		margin-bottom: 0;
	}
}